* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #6cc6e2;
    color: #fff;
}
header .home {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
header h1:hover {
    cursor: pointer;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding-right: 20px;
    font-size: 2rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #dddbad;
}
main {
    background: #dddbad;
    color: #fff;
}
main h1 {
    font-size: 6rem;
}
main a {
    font-size: 6rem;
    text-decoration: none;
    color: #6cc6e2;
}
main a:hover {
    color: #fff;
}
.title {
    display: flex;
    justify-content: center;
}
title h1:hover {
    color: #6cc6e2;
    cursor: pointer;
}
.box_left {
    display: flex;
    width: 1000px;
}
.box_left img {
    width: 400px;
    margin: 20px 50px 0 20px ;
}
.box_left .text p {
    font-size: 2rem;
    margin-top: 40px;
}
footer {
    background: #0f252d;
    color: #fff;
    height: 50px;
    display: flex;
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}