* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #6cc6e2;
    color: #fff;
}
header .home {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
header h1:hover {
    cursor: pointer;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding-right: 20px;
    font-size: 2rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #dddbad;
}
main {
    background: #dddbad;
    color: #fff;
}
main .info_boxes {
    display: flex;
}
main h1 {
    font-size: 8rem;
    padding-top: 20px;
    padding-left: 40px;
}
main h1:hover {
    text-decoration: underline;
    color: #6cc6e2;
}
main p {
    font-size: 3rem;
    padding-bottom: 30px;
    padding-right: 30px;
}
main p strong {
    color:#6cc6e2;
}
main p strong:hover {
    cursor: pointer;
    color: #fff;
}
main .right_box {
    width: 70%;
    padding-right: 20px;
    padding-top: 100px;
}
main .images_container {
    display: flex;
    flex-wrap: wrap;
}
main .images_container img {
    width: 400px;
    margin: 10px;
}
main .images_container img:hover {
    border: solid 4px #6cc6e2;
}
footer {
    background: #0f252d;
    color: #fff;
    height: 50px;
    display: flex;
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}