* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #6cc6e2;
    color: #fff;
}
header .home {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
header h1:hover {
    cursor: pointer;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding-right: 20px;
    font-size: 2rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #dddbad;
}
main {
    background: #dddbad;
    color: #fff;
    display: flex;
    height: 100vh;
}
.welcome_text p {
    font-size: 2.3rem;
    padding: 10px;
    color: #fff;
}
.welcome_video video {
    width: 900px;
}
.welcome_text img {
    width: 100px;
}
main h2 {
    font-size: 5rem;
    padding: 10px;
}
main video {
    width: 1000px;
    margin-top: 5px;
}
main video:hover {
    cursor: pointer;
}
main h2 {
    font-size: 5rem;
    margin-top: 20px;
    color: #fff;
}
main h2:hover {
    cursor: pointer;
    color: #6cc6e2;
    text-decoration: underline;
}

footer {
    background: #0f252d;
    color: #fff;
    height: 50px;
    display: flex;
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}