* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #6cc6e2;
    color: #fff;
}
header h1 {
    margin-left: 10px;
}
header h1:hover {
    cursor: pointer;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding-right: 20px;
    font-size: 2rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #dddbad;
}
main {
    background: #dddbad;
}
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
}
.info_left {
    margin-top: 0;
    display: flex;
}
.info_left figure img {
    padding-top: 5px;
    width: 600px;
}
.index-text {
    display: flex;
    flex-direction: column;
}
.info_left h2 {
    font-size: 7rem;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}
.info_left p {
    font-size: 4rem;
    padding: 20px;
    padding-top: 120px;
    color: #fff;
    text-align: center;
}
.index_class {
    display: flex;
}
.index_class figure img {
    width: 300px;
    padding-left: 20px;
    padding-top: 40px;
}

.info_right {
    display: flex;
}
.info_right figure img {
    width: 500px;
    padding-right: 60px;
}
.info_right p {
    font-size: 8rem;
    padding: 30px;
    color: #fff;
}
.info_right .email {
    font-size: 6rem;
    font-weight: bold;
}
.info_right  a {
    text-decoration: none;
    color: #6cc6e2;
}
.info_right input {
    padding: 10px;
    width: 300px;
    margin-left: 30px;
    border-radius: 5px;
    border-color: black;

}
footer {
    background: #0f252d;
    color: #fff;
    height: 50px;
    display: flex;
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}